<form action="/payment/results">
  <label for="giraffe">APR</label>
  <input id="giraffe" type="text" name="apr">
  <label for="monkey">Number of years</label>
  <input id="monkey" type="text" name="years">
  <label for="lion">Principal</label>
  <input id="lion" type="text" name="principal">
    <button> Calculate monthly payment </button>
</form>
