<form action="/random/results">
  <label for="hi">Minimum</label>
  <input id="hi" type="text" name="min">
  <label for="bye">Maximum</label>
  <input id="bye" type="text" name="max">
    <button> Pick random number </button>
</form>
