<h1>Calculate the square of a number</h1>

<form action="/square_root/results">
  <label for="banana">Enter a number</label>
  <input id="banana" type="text" name="root_number">
  <button> Calculate square root </button>
</form>
